a{
    color: rgb(198,98,123);
    text-transform: capitalize;
    margin: 5px;
    text-transform: capitalize;
}

a:hover{
    display: inline-block;
    color: rgb(17, 0, 255);
    cursor: pointer;
    text-transform: capitalize;
}

button{
    color: rgb(255, 0, 0);
    background-color: rgb(94, 255, 0);
    text-transform: capitalize;
    box-shadow: 0 8px 6px -6px #fff;
    text-shadow: 1px 1px 1px rgb(0,0,0);
    margin-left: 4px;
}

button:hover{
    color: rgb(55, 0, 255);
    background-color: rgb(229, 255, 0);
    text-transform: capitalize;
    box-shadow: 0 8px 6px -6px #fff;
    text-shadow: 1px 1px 1px rgb(0,0,0);
    text-decoration: underline rgb(0, 255, 157);
    border: none;
}

marquee{
    color: rosybrown;
    text-transform: capitalize;
}

.btn{
    background-color: rgb(154, 206, 48);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 8px 6px -6px   black;
    text-align: center;
    text-shadow: 1px 1px 1px #000 ;
    display: inline-block;
    border-radius: 1px;
    text-decoration: none;
}

.btn:hover{
  
    color: rgb(255, 255, 0);
    background: rgb(0, 0, 255);
    padding: 10px;
    margin: 10px;
    box-shadow: 0 8px 6px -6px   black;
    text-align: center;
    text-shadow: 1px 1px 1px #000 ;
    display: inline-block;
    border-radius: 1px;
    text-transform: capitalize;
    text-decoration: none;
  }